/bin
/.vs/*
/obj
.vs/HLAE mirv_pgl client/v15/.suo
.vs/HLAE mirv_pgl client/v15/Server/sqlite3/storage.ide
.vs/HLAE mirv_pgl client/v15/Server/sqlite3/storage.ide-shm
.vs/HLAE mirv_pgl client/v15/Server/sqlite3/storage.ide-wal
.vs/mirv_pgl_clienttest/v15/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
